@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


#homepage{
    background-color: teal;
    font-size: 80px;
    border-radius: 20px;
    color: white;

}
h1 {
  font-weight: 700;
  text-align: center;
  font-size: 62px;
  font-family: 'Lora';
}

#ingredients, #steps{
    background-color: teal;
    color:white;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Lora';
}

#footer-item {
  background-color: teal;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 20px;
}

#img {
  display: block;
  margin: 20px auto;
  border-radius: 20%;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 5px teal;
}

ol li{
  text-wrap: pretty;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

ul li{
  text-wrap: pretty;
  padding: 10px;
  border-bottom: 1px solid #eee;
}